{% extends 'base.html' %} {% block content %}
<div class="row">
    <p style="margin-left: 33%;margin-top: 2%;">Please create/update to-do here.</p>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-2">
        
    </div>
    <div class="8">
        {% if not id %}
            <form method="POST" action="/todo/create-todo/">
        {% else %}
            <form method="POST" action="/todo/edit-todo/{{id}}/">
        {% endif %}

            {% csrf_token %}
            
            {{ form.as_p }}
            {% if not id %}
                <input type="submit" value="Add">
            {% else %}
                <input type="submit" value="Update">
            {% endif %}
        </form>
    </div>
    <div class="col-2">
        
    </div>
</div>
<script>
    document.getElementById('id_user').value = {{request.user.id}}
</script>

{% endblock content %}


