{% extends 'base.html' %} {% block content %}
<div class="row" style="margin-top: 30px;">
    <div class="col">
        <p>Hi <b style="color: blue;">{{user.username}}</b>, please create to-do here.</p>
    </div>

    <div class="col">
        {% if not id %}
            <form method="POST" action="/todo/create-todo/">
        {% else %}
            <form method="POST" action="/todo/edit-todo/{{id}}/">
        {% endif %}

            {% csrf_token %}
            
            {{ form.as_p }}
            {% if not id %}
                <input type="submit" value="Add">
            {% else %}
                <input type="submit" value="Update">
            {% endif %}
        </form>
    </div>
</div>
<script>
    document.getElementById('id_user').value = {{request.user.id}}
</script>

{% endblock content %}


