{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="row" style="margin-top: 30px;">
    <div class="col">
        <p>User <b style="color: blue;">{{user.username}}</b> is logged in successfully.</p>
    </div>

    <div class="col">
        <form method="POST" action="/logout/">

            {% csrf_token %}
            <input type="submit" value="Logout">

        </form>
    </div>
</div>
<div class="row">
    <div class="col-6"></div>
    <div class="col-6">
        <a href="{% url 'create_todo' %}"><img style="height: 40px;" src="{% static 'images/icon-add.png' %}">Add To Do</a>
    </div>
</div>
<div class="row">
    <table border="1">
        <tr>
            <th style="text-align: center;"></th>
            <th style="text-align: center;">Title</th>
            <th style="text-align: center;">description</th>
        </tr>
        
        {% for todo in todos %}
            <tr>
                <td><input type="checkbox" name="todo" value={{todo.id}}></td>
                <td>{{todo.title}}</td>
                <td>{{todo.description}}</td>
            </tr>
        {% endfor %}
        
    </table>
</div>


{% endblock content %}
