{% extends 'base.html' %} {% block content %} {% load static %}
<style>
    .txt:hover {
        color: red;
    }
    
    .txt {
        color: blue;
        text-decoration: underline;
    }
</style>
<!-- <div class="row" style="margin-top: 30px;">
    <div class="col-6">
        <p>Hi <b style="color: blue;">{{user.username}}</b>. You have logged in successfully!</p>
    </div>

    <div class="col-6">
        <form method="POST" action="/logout/" style="float: right;">

            {% csrf_token %}
            <input type="submit" value="Logout">

        </form>
    </div>
</div> -->
<div class="row">
    <div class="col-6"></div>
    <div class="col-6">
        <a style="float: right;" href="{% url 'create_todo' %}"><img style="height: 40px;" src="{% static 'images/icon-add.png' %}">Add To Do</a>
    </div>
</div>
<div class="row">
    <div class="col-2">
        
    </div>
    <div class="col-2">
        <table style="float: right;">
            <tr>
                <th>To-Do Management</th>
            </tr>
            <tr>
                <td style="text-align: center;" class="txt" id="edit">Edit</td>
            </tr>
            <tr>
                <td style="text-align: center;" class="txt" id="delete">Delete</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table border="1">
            <tr>
                <th style="text-align: center;"></th>
                <th style="text-align: center;">Title</th>
                <th style="text-align: center;">description</th>
            </tr>

            {% for todo in todos %}
            <tr>
                <td>
                    <input type="checkbox" name="todo" class="todo-id" value={{todo.id}}>
                </td>
                <td>{{todo.title}}</td>
                <td>{{todo.description}}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    <div class="col-2"></div>

</div>
{% endblock content %}